 body{

margin:0;
height:100vh;

background:#0067c5;

font-family:"Segoe UI",Arial;

color:white;

display:flex;
align-items:center;
justify-content:center;

}


.update-screen{

text-align:center;

width:600px;

}


.icon{

font-size:55px;

animation:spin 4s linear infinite;

}


h1{

font-size:42px;
font-weight:400;

}


#message{

font-size:22px;

}


.progress-container{

width:450px;

height:8px;

background:#ffffff55;

margin:40px auto;

overflow:hidden;

}


#progress{

height:100%;

width:0%;

background:white;

transition:width .4s;

}


#percent{

font-size:38px;

font-weight:300;

}


.warning{

margin-top:40px;

font-size:16px;

opacity:.8;

}



.dots::after{

content:"";

animation:dots 1.5s infinite;

}



@keyframes dots{

0%{
content:"";
}

33%{
content:".";
}

66%{
content:"..";
}

100%{
content:"...";
}

}


@keyframes spin{

100%{
transform:rotate(360deg);
}

}